<h2>Perfil de Usuario</h2>
<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Mi rol: {{user.role}}</p>
<p>ID de mi carrito:{{user.cart}}</p>
<button><a href="http://localhost:8080/carts/{{user.cart}}">Ver mi carrito</a></button>



<button><a href="http://localhost:8080/products">Inicio</a></button>

<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>